    <footer>
        <div class="footcontent">
            <div class="footmenu block1">
                <p><b>Контактная информация</b></p>
                <p><span>(812)</span> 449-02-48<br><span>(812)</span> 449-02-49</p>
                <p>192236, Санкт-Петербург, ул. Фучика, д. 19, 2 этаж<br>
                м. Бухарестская, Международная<br>
                <a href="contacts.php">Cхема проезда и обратная связь</a></p>	
            </div>
            
            <div class="footmenu copyrights">
                <p>&copy;&nbsp;ООО &laquo;Линформ&raquo;, 2010&nbsp;&mdash; 2019</p>
                <br>
                <p>Вся информация на&nbsp;сайте носит информационный характер и&nbsp;ни&nbsp;при каких условиях не&nbsp;является публичной офертой.</p>
            </div>
        </div>
    </footer>
</body>
</html>